

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info</title>
</head>
<body>
    <style>
body{
   
      color: white;
      display: flex;
      justify-content: center;
      font-family: 'Press Start 2P', cursive;
      background-size: 50%;
    }
 
    #main{
      position: fixed;
      justify-content: center;
      background-color: black ;
      width: 960px;
      height: 540px;
     background-size: cover;
    }
    h1{
      
      justify-content: center;
      
      text-align: center;
      margin-top: 0%;
    }
    h2{
      
      text-align: center;
      
    }
    #content{
      text-align: center;
       margin-top: 10%; 
       
       
      
    }
 
    input{
      background-color: black;
      font-family: 'Press Start 2P', cursive;
      color: white;
    }
    #sub{
      border: none;
      font-size:20px;
    }
    #sub:hover{
      cursor: pointer;
      transform: scale(1.1);

    }
    h3{
      color: black;
     
      
    }
    h2{
        font-size: 15px;
        margin-top: 50px;
         color: red;
    }
    h2:hover{
        cursor: pointer;
      transform: scale(1.1);
    }
    img{
      width: 80px;
      opacity: 100%;
      
    }
    #bak:hover{
      color:white;
      transition: 2000ms;
    }
    h1{
        font-size: 20px;
    }
    h3{
       
    }
</style>


      <div id="main">
        <div id="content">
          <h3 id="bak">GO BACK</br>
            <a href="/"><img id="mach" src="https://i.ibb.co/jycBRKW/firemonster.gif"></a>
         </h3>
         <h1> OTHER PROJECTS BY THE AUTHOR</h1>
         <a href="https://sdragone01.github.io/pokimon-menthol-juul-edition/"><h2>JAVA SCRIPT POKEDUDES</h2>
      </a>
      </div>
    </div>
  
  </div>   
  </body>
  </html>
  