{% layout "layout.liquid" %} {% block content %}
<div>
  <form action="/cards" method="post">
    <fieldset>

      <legend>Create a New card</legend>

      <label>NAME:<input type="text" name="name"  maxlength="9"/></label>

     <label>LEVEL</label>
      <select name="level">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>

      <label>TYPE:</label>
        <select name="genre" id="">
          <option value="FIRE">FIRE</option>
          <option value="DARK">DARK</option>
          <option value="EARTH">EARTH</option>
          <option value="GUNNER">GUNNER</option>
          <option value="MACHINE">MACHINE</option>
        </select>
  
      <label>ATTACK POINTS:</label>
        <select name="atk_points">
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
      </select>

      <label>DEFENSE POINTS:</label>
        <select name="def_points">
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
      </select>
      
      <label>
        description:<input type="text" name="description" maxlength="50" />
      </label>
    </fieldset>
    <input type="submit" value="create new card" />
  </form>


</div>
{% endblock %}