{% layout "layout.liquid" %} {% block content %}
<div class="top">
    <h1>decks</h1>
</div>
<div>
    <a href="/decks/new"><button>Create A New deck</button></a>
  {% for deck in decks %}
  <article>
    <a href="/decks/{{ deck._id }}">
      <h2>
        {{deck.name}} 
      </h2>
    </a>
  </article>
  {% endfor %}
</div>
{% endblock %}